<div class="container">
    <form action="/account_types" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Account Type</label>
            <input type="text" name="name" class="form-control" id="inputName">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea name="description" class="form-control" id="txtDescription" rows="3"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-primary" href="account_types" role="button">Return</a>
    </form>
</div>